<nav class="bg-gray-800 fixed w-full">
    <div class="mx-auto px-2 sm:px-6 lg:px-8">
      <div class="relative flex items-center justify-between h-16">
        <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
          <div class="flex-shrink-0 flex items-center">
            <h1 class="text-gray-300 text-2xl">Tailwind</h1>
          </div>
          <div class="hidden sm:block sm:ml-6">
            <div class="flex space-x-2">

              <a href="/" class="text-gray-300 hover:bg-gray-700 hover:text-white px-2 py-2 rounded-md text-sm font-medium" aria-current="page">Exercise 1</a>

              <a href="/exercise-2" class="text-gray-300 hover:bg-gray-700 hover:text-white px-2 py-2 rounded-md text-sm font-medium" aria-current="page">Exercise 2</a>

              <a href="/exercise-3" class="text-gray-300 hover:bg-gray-700 hover:text-white px-2 py-2 rounded-md text-sm font-medium" aria-current="page">Exercise 3</a>

              <a href="/exercise-4" class="text-gray-300 hover:bg-gray-700 hover:text-white px-2 py-2 rounded-md text-sm font-medium" aria-current="page">Exercise 4</a>

              <a href="/exercise-5" class="text-gray-300 hover:bg-gray-700 hover:text-white px-2 py-2 rounded-md text-sm font-medium" aria-current="page">Exercise 5</a>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>