<div>
    <div>
        <div>
            <img src="images/mytrip.jpg" alt="Man looking at item at a store">
        </div>
        <div>
            <div>Case study</div>
            <a href="#">Finding customers for your new business</a>
            <p>Getting a new business off the ground is a lot of hard work. Here are five ideas you can use to find your first customers.</p>
        </div>
    </div>
</div>