<div>
    <div>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Last name</th>
            <th>Phone</th>
            <th>Email</td>
          </tr>
        </thead>
      <tbody>
        <tr>
          <td></td>Lian</td>
          <td>Smith</td>
          <td><a href="tel:622322662">622322662</a></td>
          <td><a href="mailto:jonsmith@mail.com">jonsmith@mail.com</a></td>
        </tr>
        <tr class="bg-gray-100">
          <td>Emma</td>
          <td>Johnson</td>
          <td><a href="tel:622322662">622322662</a></td>
          <td><a href="mailto:jonsmith@mail.com">jonsmith@mail.com</a></td>
        </tr>
        <tr>
          <td>Oliver</td>
          <td>Williams</td>
          <td><a href="tel:622322662">622322662</a></td>
          <td><a href="mailto:jonsmith@mail.com">jonsmith@mail.com</a></td>
        </tr>
        <tr class="bg-gray-100">
          <td>Isabella</td>
          <td>Brown</td>
          <td><a href="tel:622322662">622322662</a></td>
          <td><a href="mailto:jonsmith@mail.com">jonsmith@mail.com</a></td>
        </tr>
      </tbody>
      </table>
    </div>
</div>