<div class="p-8">
    <img class="w-56 rounded-lg"
        src="images/customer.jpg"
        alt="Woman paying for a purchase" />
    <div>
        <div class="text-sm font-bold tracking-wide text-indigo-600 uppercase">
            Marketing
        </div>
        <a href="#" class="block mt-1 text-lg font-semibold leading-tight text-gray-900 hover:underline">
            Finding customers for your new business
        </a>
        <p class="mt-2 text-gray-600">
            Getting a new business off the ground is a lot of hard work. Here are five ideas you can use to find your
            first customers.
        </p>
    </div>
</div>