<section class="flex flex-wrap items-center justify-around min-h-screen p-10 bg-red-500 md:flex-row sm:flex-col">

    <!-- scale -->
    <div class="relative w-32 h-32 mb-5 cursor-pointer">
      <div class="absolute inset-0 bg-white rounded-lg shadow-2xl opacity-25"></div>
      <div class="absolute inset-0 transition duration-300 transform hover:scale-75">
        <div class="w-full h-full bg-white rounded-lg shadow-2xl"></div>
      </div>
    </div>
  
    <!-- roatate and scale -->
    <div class="relative w-32 h-32 mb-5 cursor-pointer">
      <div class="absolute inset-0 bg-white rounded-lg shadow-2xl opacity-25"></div>
      <div class="absolute inset-0 transition duration-300 transform hover:rotate-90 hover:scale-75">
        <div class="w-full h-full bg-white rounded-lg shadow-2xl"></div>
      </div>
    </div>
  
    <!-- rotate -->
    <div class="relative w-32 h-32 mb-5 cursor-pointer">
      <div class="absolute inset-0 bg-white rounded-lg shadow-2xl opacity-25"></div>
      <div class="absolute inset-0 transition duration-300 transform hover:rotate-45">
        <div class="w-full h-full bg-white rounded-lg shadow-2xl"></div>
      </div>
    </div>
  
  
    <!-- Origin -->
    <div class="relative w-32 h-32 mb-5 cursor-pointer">
      <div class="absolute inset-0 bg-white rounded-lg shadow-2xl opacity-25"></div>
      <div class="absolute inset-0 transition duration-300 origin-left transform hover:-rotate-45">
        <div class="w-full h-full bg-white rounded-lg shadow-2xl"></div>
      </div>
    </div>
  
    <!-- translate -->
    <div class="relative w-32 h-32 mb-5 cursor-pointer">
      <div class="absolute inset-0 bg-white rounded-lg shadow-2xl opacity-25"></div>
      <div class="absolute inset-0 transition duration-300 transform hover:-translate-x-10">
        <div class="w-full h-full bg-white rounded-lg shadow-2xl"></div>
      </div>
    </div>
  
    <!-- skew -->
    <div class="relative w-32 h-32 mb-5 cursor-pointer">
      <div class="absolute inset-0 bg-white rounded-lg shadow-2xl opacity-25"></div>
      <div class="absolute inset-0 transition duration-300 transform hover:skew-y-12">
        <div class="w-full h-full bg-white rounded-lg shadow-2xl"></div>
      </div>
    </div>
  
</section>