<div>
    <div>
        <div>
            <div>
                <form method="POST" action="action.php">
                    <div>
                        <label>Title <span>*</span></label></br>
                        <input type="text"name="title" id="title" value="" required></input>
                    </div>

                    <div>
                        <label>Description</label></br>
                        <input type="text" name="description" id="description" placeholder="(Optional)"></input>
                    </div>

                    <div>
                        <label>Content <span class="text-red-500">*</span></label></br>
                        <textarea name="textcontent"></textarea>
                    </div>

                    <div>
                        <select name="action">
                            <option>Save and Publish</option>
                            <option>Save Draft</option>
                        </select>
                        <button role="submit" required>Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
