<div class="grid h-screen grid-cols-2 gap-2 overflow-y-auto bg-gray-100 pt-20">
    <div class="h-full overflow-y-auto">
      <div class="h-full overflow-y-auto bg-white">
        <%- include('./exercise') %> 
      </div>
    </div>
    <div class="h-full">
      <div class="h-full overflow-y-auto bg-white">
        <%- include('./solution') %>
      </div>
    </div>
</div>