<div>
    <div>
      <img src="images/photolego.jpg"/>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia odit
        quod ab, asperiores, praesentium veniam.
      </div>
    </div>
</div>