<div class="mt-8">

    <div class="w-1/2 mx-auto overflow-hidden rounded shadow-lg">
      <div class="relative bg-red-500 pb-2/3">
        <img 
            class="object-cover w-full h-full" 
            src="images/photolego.jpg" 
        />
      </div>
  
      <div class="p-4 text-sm font-medium text-gray-500">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia odit quod ab, asperiores, praesentium veniam.
      </div>
    </div>
  
</div>