<div>
    <div>
        <!-- Row -->
        <div>

            <!-- Col -->
            <div style="background-image: url('images/bgdog.jpg')"></div>
            
            <!-- Col -->
            <div>
                <h3>Welcome Back!</h3>
                <form>
                    <div>
                        <label for="username">
                            Username
                        </label>
                        <input id="username" type="text" placeholder="Username" />
                    </div>
                    <div>
                        <label class="block mb-2 text-sm font-bold text-gray-700" for="password">
                            Password
                        </label>
                        <input id="password" type="password" placeholder="******************" />
                        <p class="text-xs italic text-red-500">Please choose a password.</p>
                    </div>
                    <div>
                        <input type="checkbox" id="checkbox_id" />
                        <label for="checkbox_id">
                            Remember Me
                        </label>
                    </div>
                    <div>
                        <button type="button">
                            Sign In
                        </button>
                    </div>
                    <hr/>
                    <div>
                        <a href="./register.html">
                            Create an Account!
                        </a>
                    </div>
                    <div>
                        <a href="./forgot-password.html">
                            Forgot Password?
                        </a>
                    </div>
                </form>

            </div><!-- Col -->

        </div> <!-- Row -->

    </div>
</div>